<main>
    <div class="row">
        <div class="container left contentcenter">
            <table>
                <tr>
                    <th>Full name</th>
                    <th>Kovalenko Ivan</th>
                </tr>
                <tr>
                    <th>Age</th>
                    <th>20 years</th>
                </tr>
                <tr>
                    <th>Position</th>
                    <th>Full stack</th>
                </tr>
                <tr>
                    <th>Nationality</th>
                    <th>Ukrainian</th>
                </tr>
                <tr>
                    <th>Currently in</th>
                    <th>Poland</th>
                </tr>
            </table>
        </div>
        <div class="container right picture">
            <img src="./bcg.png" style="z-index: 0;" alt="landscapes">
            <img src="./me.png" style="z-index: 1;" alt="me">
            <img src="./borders.png" style="z-index: 2;" alt="me">
        </div>
    </div>
    <div class="row sizecontent">
        <div class="container total">
            <h1>Welcome to my portfolio!</h1>
            <p>
                Hello, my name is Ivan and I love programming. I started my programming journey 
                three years ago and it has been a long way, so let me tell you about my skills.
            </p>
            <p>
                As I said before, I really like programming, so there the wide range of knowledge I've acquired but today let us talk about full stack.
                For backend I used to Node.js + Express but also I know C/C++, C#, python and if it would be
                needed, I would easily switch on other language.
                For frontend I learned JavaScript, TypeScript, PHP, Angular, Angular.js.
                I also have experience working with databases such as MySQL, MongoDB, Firebase.
                Of course I know HTML5 and basic CSS.
            </p>
            <p>
                Not so long ago I developed my programming skills in another sphere, I also had commercial
                projects that I worked on. I am not afraid of difficult tasks and I am ready for difficulties that
                we will have to solve together.
            </p>
            <p>
                I am a good worker because I am a fast learner, my knowledge covers a wide field of technology
                which implies that I will be able to solve more complex and complicated problems.
            </p>
        </div>
    </div>
</main>